<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Creación de Películas</title>
    <!-- Agrega la referencia a Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Formulario de Creación de Películas</h1>
        <form method="post" action="/movies/add">
            <div class="mb-3">
                <label for="titulo" class="form-label" name="title">Título</label>
                <input type="text" class="form-control" id="titulo"  name="title" placeholder="Ingrese el título">
            </div>
          
            <div class="mb-3">
                <label for="sinopsis" class="form-label" name ="rating">rating </label>
            <input type="number"  name ="rating">
            </div>
          
            <div class="mb-3">
                <label for="sinopsis" class="form-label" name ="awards">Premios </label>
                        <input type="number">
            </div>
          
            <div class="mb-3">
                <label for="sinopsis" class="form-label" name ="release_date">Release_date</label>
               <input type="date"name ="release_date">
            </div>
            <div class="mb-3">
                <label for="sinopsis" class="form-label" name ="lenght">Duracion</label>
               <input type="number" name ="lenght">
            </div>
            <button type="submit" class="btn btn-primary">Agregar Película</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
